{
  "url":             "jdbc:postgresql://myinsightinstance.cxp3kjm75iyc.us-east-1.rds.amazonaws.com:5432/mydatabase",
  "format":          "jdbc",
  "dbname":          "mydatabase",
  "dbtable_batch":   "Ranking_",
  "dbtable_cf":      "CollaborativeFiltering",
  "dbtable_streaming":"Recommendation",
  "mode_batch":      "overwrite",
  "mode_streaming":  "append",
  "user":            "myinsightusername",
  "password":        "myinsightpassword",
  "driver":          "org.postgresql.Driver",
  "nums_partition":  20,
  "lowerBound":      0,
  "upperBound":      144,
  "stringtype":      "unspecified",
  "topntosave":      10
}