{
  "url":             "jdbc:postgresql://myinsightinstance.cxp3kjm75iyc.us-east-1.rds.amazonaws.com:5432/mydatabase",
  "dbname":          "mydatabase",
  "dbtable_batch":   "fulltable",
  "dbtable_stream":  "rddbatch",
  "mode_batch":      "overwrite",
  "mode_stream":     "append",
  "user":            "myinsightusername",
  "password":        "myinsightpassword",
  "driver":          "org.postgresql.Driver",
  "numPartitions":   18,
  "partitionColumn": "time_slot",
  "lowerBound":      0,
  "upperBound":      144,
  "stringtype":      "unspecified",
  "topntosave":      10
}