{
  "BUCKET":                   "insightdatascience",
  "YELP_FOLDER":              "Yelp",
  "YELP_BUSINESS_DATA_FILE":  "yelp_academic_dataset_business.json",
  "YELP_REVIEW_DATA_FILE":    "yelp_academic_dataset_review.json",
  "INSPECTION_FOLDER":        "Inspections",
  "INSPECTION_DATA_FILE":     "Las_Vegas_Restaurant_Inspections.csv",
  "STREAMING_FOLDRER":        "Simulation",
  "STREAMING_DATA_FILE":      "simulated_requests.csv",
  "TEXT_CORPUS_FOLDER":       "Text_Corpus",
  "LEMMA_FILE":               "lemmas_small.txt",
  "SENTIMENT_FILE":           "default-sentiment-dict.txt"
}

