{
  "BUCKET1":         "insightdatascience",
  "FOLDER1":         "Yelp",
  "RAW_DATA_FILE1":  "yelp_academic_dataset_business.json",
  "BUCKET2":         "insightdatascience",
  "FOLDER2":         "Yelp",
  "RAW_DATA_FILE2":  "yelp_academic_dataset_review.json",
  "BUCKET3":         "insightdatascience",
  "FOLDER3":         "Inspections",
  "RAW_DATA_FILE3":  "Las_Vegas_Restaurant_Inspections.csv"
}

