{
  "BUCKET":                   "insightdatascience",
  "YELP_FOLDER":              "Yelp",
  "YELP_BUSINESS_DATA_FILE":  "yelp_academic_dataset_business.json",
  "YELP_REVIEW_DATA_FILE":    "yelp_academic_dataset_review.json",
  "INSPECTION_FOLDER":        "Inspections",
  "INSPECTION_DATA_FILE":     "Las_Vegas_Restaurant_Inspections.csv",
  "STREAMING_FOLDRR":         "Simulation",
  "STREAMING_DAT_FILE":       "simulated_requests.csv"
}

