{
   "$schema": "http://json-schema.org/draft-04/schema#",
   "title": "Event",
   "description": "description of json column",
   "type": "object",

   "properties": {

      "datetime": {
         "description": "The event coming time",
         "type": "string"
      },

      "user_id": {
         "description": "",
         "type": "string"
      },

      "latitude": {
         "type": "number",
         "minimum": 100,
         "exclusiveMinimum": true
      },
      "longitude": {
         "type": "number",
         "minimum": -150,
         "exclusiveMinimum": true
      }
   },

   "required": ["datetime", "user_id", "latitude", "logititude"]
}
